<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="../public/css/estilo.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
</head>
<body>
    
    
    <div class="box_main">
        <div class="main">
           <div class="retro_qt">
               <div class="retroceder"><i class="fa fa-arrow-left fa-4x"></i></div>
               <div class="box_contagem">
                   <div class="contagem">
                       <span class="qt_acertos"></span>
                       <span>de</span>
                       <span class="qt_total"></span>
                   </div>
               </div>
           </div>
           <div class="box_perguntas">
                <div class="perguntas">
                    <div class="pergunta"></div>
                </div>
           </div>
           <div class="box_respostas">
                <div class="respostas">
                    <div class="r r1">
                        <div class="r_select"><input type="radio" name="select"></div>
                        <div class="r_">
                            <div class="r_res"></div>
                        </div>
                    </div>
                    <div class="r r2">
                        <div class="r_select"><input type="radio" name="select"></div>
                        <div class="r_">
                            <div class="r_res"></div>
                        </div>
                    </div>
                    <div class="r r3">
                        <div class="r_select"><input type="radio" name="select"></div>
                        <div class="r_">
                            <div class="r_res"></div>
                        </div>
                    </div>
                    <div class="r r4">
                        <div class="r_select"><input type="radio" name="select"></div>
                        <div class="r_">
                            <div class="r_res"></div>
                        </div>
                    </div>
               </div>
            </div>
        
<!--
            <div class="btns">
                <div class="btns">
                    <button class="btn_confirm">Confirmar</button>
                </div>
            </div>
-->
            <div class="box_help">
                <div class="help">
                    <button class="h a_1" ><i class="fa fa-users fa-5x"></i></button>
                    <button class="h a_2"><i class="fa fa-adjust fa-5x"></i></button>
                    <button class="h a_3"><i class="fa fa-retweet fa-5x"></i></button>
                    <button class="h a_4"><i class="fa fa-phone fa-5x"></i></button>
                </div>
            </div>
        </div>
    </div>
    
    
   <div class="ajuda_1">
       <div class="a_head"><span class="close">X</span></div>
       <div class="a_body">
           <div class="r_perc r_1"></div>
           <div class="r_perc r_2"></div>
           <div class="r_perc r_3"></div>
           <div class="r_perc r_4"></div>
       </div>
   </div>
   
   <div class="ajuda_2">
       <div class="a_head" id="close"><span class="close">X</span></div>
       <div class="a_body">
           <i class="fa fa-volume-control-phone fa-3x"></i>
       </div>
   </div>
   
    <div class="fundo none">
    </div>
    
    <script src="../public/js/index.js"></script>
</body>
</html>